<ion-content color="light">
  <ion-row class="page-row">
    <ion-col size="12">
      <!-- <ion-item mode="md" lines="none" class="heading">
        <ion-label>Transaction History</ion-label>
        <ion-button mode="md" size="large" fill="clear" slot="end" color="dark"><i class="gp-filter"></i></ion-button>
      </ion-item> -->

      <!-- <hr class="dassed-line"> -->

      <div style="text-align:center">
        <h1 class="card-header bg-info">
          Grant Funding Graph 
        </h1>
        <h3 class="text-secondary">

        </h3>
        <div class="row ml-12">
          <div class="col">
            <div class="row">
              <h4>

              </h4>
            </div>
            <div class="row">
              <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
