ion-header {
    .image {
      object-fit: fill;
      // width        : 170px;
      border-radius: 50%;
    }
    .user-icon {
      margin-right: 15px;
    }
    .ion-buttons {
      width: 0 !important;
    }
    .sc-ion-card-md-s img {
      display: unset;
    }
    ion-card {
      margin: 0;
      margin-bottom: 8px !important;
    }
  }
  