<ion-header style="background-color: red" mode="md" no-border *ngIf="!isLogin">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo">
      <!-- <img src="assets/imgs/logo.svg" alt=""> -->
      Grant platform
    </ion-title>
    <ion-buttons slot="end">
      <ion-button mode="md" fill="solid" color="success" class="gbtn" (click)="login()">sign in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header mode="md" no-border *ngIf="isLogin">
  <ion-toolbar mode="md">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo">
      <!-- <img src="assets/imgs/logo.svg" alt=""> -->
      Grant platform
    </ion-title>

    <ion-buttons slot="end">
      <div class="user-icon">
        <img class="image" *ngIf="isImage" src="{{'https://ipfs.infura.io/ipfs/' + user3BoxProfile?.image}}" alt="">
        <ion-icon *ngIf="!isImage" size="large" name="person"></ion-icon>
      </div>
      <ion-button mode="md" class="user-profile-menu">

        <span>{{user3BoxProfile?.name ? user3BoxProfile?.name : '' }}<i class=" gp-arrow-down"
            (click)="userMenuPopover($event)"></i></span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>