<ion-header no-border mode="md" class="modal-header-funds">
  <ion-toolbar mode="md">
    <div class="detailed-header-title">
      <h2>Untitled Grant</h2>
      <p>https://grantlink.com</p>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="medium">
        <ion-icon slot="icon-only" class="gp-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar no-padding mode="md" class="grant-recepients">
    <h3>Grant Recepients</h3>
    <ion-item lines="none">
      <div class="users-container">
        <div class="users">
          <img src="assets/imgs/avatar-02.png" alt="">
          <img src="assets/imgs/avatar-03.png" alt="">
          <img src="assets/imgs/avatar-04.png" alt="">
        </div> <a href="">View All</a>
      </div>
      <div slot="end" class="cost-details">
        <div class="cost">
          <h3>$ 1,500</h3>
          <p>OUT OF $5,000</p>
        </div>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="delivery-date-milestone">
    <div class="time-of-deliver">
      <h4>Delivery Date</h4>
      <p>02.02.2019</p>
    </div>
    <ul class="milestone-status">
      <li class="{{item.status}}" *ngFor="let item of items">
        <span class="status"><i class="gp-check-circle"></i></span>
        <ion-item lines="none">
          <ion-label>
            <p>{{item.title}}</p>
            <h3>{{item.date}}</h3>
          </ion-label>
          <ion-label text-right class="cost" slot="end">
            <h3>$ {{item.cost}}</h3>
            <p>OUT OF $ {{item.totalcost}}</p>
          </ion-label>

          
        </ion-item>
        <div class="action-buttons">
            <ion-button *ngIf="item.milestoneStatus != ''" mode="md" class="tt-none">
                {{item.milestoneStatus}}
            </ion-button>
            <ion-button *ngIf="item.request != ''" mode="md" fill="clear">
                {{item.request}}
            </ion-button>
        </div>
      </li>
    </ul>
  </div>

  <hr>

  <div class="footer-details">
    <ion-row>
      <ion-col size="8">
        <ion-item lines="none">
          <ion-input placeholder="Amount"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="md" expand="block">
          Fund Grant
        </ion-button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>