* {
  box-sizing: border-box;
}
p:last-child {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ion-card-content {
  .grant-card-flex {
    p.grant-card {
      width: 6.5em;
    }
  }
}

.space {
  padding-top: 80px;
}
.grant-card {
  color: #44d244;
  font-size: 19px;
  margin-bottom: 0;
  font-weight: 400;
  margin-top: 0;
}
.grant-card-small-text {
  color: #000000;
  padding-left: 15px;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
  overflow: auto;
}
.grant-card-flex {
  display: flex;
  align-items: center;
}
.new-space {
  padding-top: 20px;
}

.filter {
  float: right;
  clear: both;
  padding: 5px 25px;
}

.drop-down {
  border: none;
  background: none;
  border: none;
  transition-duration: 0.5s;
  font-weight: 400;
  // padding: 4px 22px;
}
.drop-down:hover {
  color: #44d244;
  transform: translate(0px, -10px);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
