@font-face {
    font-family: 'grantsPlatform';
    src: url('fonts/grantsPlatform.eot?97mx38');
    src: url('fonts/grantsPlatform.eot?97mx38#iefix') format('embedded-opentype'), url('fonts/grantsPlatform.ttf?97mx38') format('truetype'), url('fonts/grantsPlatform.woff?97mx38') format('woff'), url('fonts/grantsPlatform.svg?97mx38#grantsPlatform') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="gp-"],
[class*=" gp-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'grantsPlatform' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gp-arrow-down:before {
    content: "\e900";
}

.gp-arrow-select:before {
    content: "\e901";
}

.gp-check-circle:before {
    content: "\e902";
}

.gp-check:before {
    content: "\e903";
}

.gp-close:before {
    content: "\e904";
}

.gp-filter:before {
    content: "\e905";
}

.gp-grant:before {
    content: "\e906";
}

.gp-latest-grant:before {
    content: "\e907";
}

.gp-logo:before {
    content: "\e908";
}

.gp-search:before {
    content: "\e909";
}

.gp-transaction-history:before {
    content: "\e90a";
}

.gp-trending-grants:before {
    content: "\e90b";
}

.gp-user:before {
    content: "\e90c";
}

.gp-check-mile:before {
    content: "\e90d";
}

.img-ul-file-upload {
    padding: 30px !important;
}

.img-ul {
    border: solid 1px gainsboro !important;
    border-radius: 10px !important;
}

.img-ul-upload {
    background-color: #15a1c4 !important;
}

button {
    line-height: unset;
}