<!-- <ion-header mode="md" no-border>
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
            <img src="assets/imgs/logo.svg" alt="">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button mode="md" fill="solid" color="success" class="gbtn">sign in</ion-button>
            <ion-button mode="md" fill="solid" color="success" class="gbtn">Register</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->

<ion-content padding color="light">


    <div class="auth-content">
        <ion-card mode="ios">
            <ion-card-content>
                <ion-list lines="none">
                    <form (ngSubmit)="f.form.valid && user.password == user.confirmPassword && onSubmit()" #f="ngForm">
                        <ion-list-header>Sign Up</ion-list-header>

                        <ion-item>
                            <ion-input placeholder="User Name" type="text" [(ngModel)]="user.userName" name="userName"
                                #userName="ngModel" required></ion-input>
                        </ion-item>

                        <div class="error">
                            <label *ngIf="f.submitted && userName.invalid">
                                Please Enter User Name
                            </label>
                        </div>

                        <ion-item>
                            <ion-input required placeholder="Email" type="email" [(ngModel)]="user.email" name="email"
                                #email="ngModel" required></ion-input>
                        </ion-item>


                        <div class="error">
                            <label *ngIf="f.submitted && email.invalid">
                                Please Enter Email
                            </label>
                        </div>

                        <ion-item>
                            <ion-input placeholder="Password" [type]="passwordType ? 'text' : 'password'"
                                [(ngModel)]="user.password" name="password" #password="ngModel" required></ion-input>
                            <ion-icon slot="end" (click)="togglePasswordFieldType()"
                                [name]="passwordType ? 'eye-off' : 'eye'">
                            </ion-icon>
                        </ion-item>

                        <div class="error">
                            <label *ngIf="f.submitted && password.invalid">
                                Please Enter Password
                            </label>
                        </div>

                        <ion-item>
                            <ion-input placeholder="Confirm Password" type="password" [(ngModel)]="user.confirmPassword"
                                name="confirmPassword" #confirmPassword="ngModel" required></ion-input>
                        </ion-item>

                        <div class="error">
                            <label *ngIf="f.submitted && confirmPassword.invalid">
                                Please Enter Confirm Password
                            </label>
                        </div>

                        <div *ngIf="confirmPassword.valid && user.password != user.confirmPassword">
                            <span class="error">
                                Password and confirm password must be same!!
                            </span>
                        </div>

                        <!-- <div class="remember-forgot">
                            <div class="checkbox">
                                <ion-checkbox mode="md"></ion-checkbox>
                                <ion-label>Remember Me</ion-label>
                            </div>

                            <ion-button mode="ios" fill="clear" class="tt-none" color="medium">Forgot Password ?
                            </ion-button>
                        </div> -->
                        <ion-button expand="block" mode="md" class="tt-none" [disabled]="processing" type="ngSubmit">
                            Sign
                            Up
                        </ion-button>

                        <ion-button expand="block" mode="md" class="tt-none" [disabled]="processing" (click)="login()">
                            Sign
                            In
                        </ion-button>
                    </form>
                </ion-list>

            </ion-card-content>
        </ion-card>
    </div>
</ion-content>