<!-- <ion-content color="light"> -->
<!-- <ion-row> -->
<!-- <ion-col> -->
<ion-buttons slot="end">
  <ion-button (click)="profile()" mode="md" class="user-profile-menu">
    <ion-icon name="contact"></ion-icon>&nbsp;
    My Profile
  </ion-button>
</ion-buttons>

<hr class="dassed-line">

<ion-buttons slot="end">
  <ion-button (click)="signOut()" mode="md" class="user-profile-menu">
    <ion-icon name="log-out"></ion-icon>&nbsp;
    Sign Out
  </ion-button>
</ion-buttons>
<!-- </ion-col> -->
<!-- </ion-row> -->
<!-- </ion-content> -->