<ion-header mode="md" no-border>
  <ion-toolbar mode="md">
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="medium">
        <ion-icon slot="icon-only" class="gp-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="f.form.valid && user.newPassword == user.comfirmPassword && onSubmit()" #f="ngForm">
    <div class="form-details">
      <ion-list lines="none" class="forms" mode="md">

        <ion-item>
          <ion-label position="stacked">Old Password</ion-label>
          <ion-input placeholder="..." name="oldPassword" [(ngModel)]="user.oldPassword" #oldPassword="ngModel"
            [type]="oldPasswordType ? 'text' : 'password'" (click)="oldPasswordError()" required>
          </ion-input>
          <ion-icon slot="end" (click)="toggleOldPasswordFieldType()" [name]="oldPasswordType ? 'eye-off' : 'eye'">
          </ion-icon>
        </ion-item>

        <div *ngIf="f.submitted && oldPassword.invalid">
          <span class="error">
            Please Enter Old Password
          </span>
        </div>

        <div *ngIf="oldPassError">
          <span class="error">
            Invalid Old Password
          </span>
        </div>

        <ion-item>
          <ion-label position="stacked">New Password</ion-label>
          <ion-input placeholder="..." name="newPassword" [(ngModel)]="user.newPassword" #newPassword="ngModel"
            [type]="newPasswordType ? 'text' : 'password'" required>
          </ion-input>
          <ion-icon slot="end" (click)="toggleNewePasswordFieldType()" [name]="newPasswordType ? 'eye-off' : 'eye'">
          </ion-icon>
        </ion-item>

        <div *ngIf="f.submitted && newPassword.invalid">
          <span class="error">
            Please Enter New Password
          </span>
        </div>

        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input placeholder="..." name="comfirmPassword" [(ngModel)]="user.comfirmPassword"
            #comfirmPassword="ngModel" type="password" required>
          </ion-input>
        </ion-item>

        <div *ngIf="f.submitted && comfirmPassword.invalid">
          <span class="error">
            Please Enter Confirm Password
          </span>
        </div>

        <div *ngIf="comfirmPassword.valid && user.newPassword != user.comfirmPassword">
          <span class="error">
            Password and confirm password must be same!!
          </span>
        </div>

      </ion-list>
    </div>
    <div class="submit-button">
      <ion-button mode="md" class="tt-none" [disabled]="processing" expand="block" type="ngSubmit">
        Submit
      </ion-button>
    </div>
  </form>
</ion-content>