ion-card {
    padding: 16px 24px 16px 24px;
    &:nth-child(odd) {
        background: rgba(255, 255, 255, 0.25);
    }
    ion-item {
        &.heading {
            --padding-start: 0;
            --inner-padding-end: 0;
            --background: transparent;
            ion-label {
                font-weight: 400;
                font-size: 16px;
                color: #000;
            }
            ion-button {
                font-size: 28px;
            }
        }
    }
}

.form-details {
    .name {
        padding: 0;
        .padding-0 {
            padding: 5px 25px;
        }
        .line-height-19 {
            line-height: 19px !important;
        }
    }
}

ion-list.forms.md.list-md.list-lines-none.list-md-lines-none.hydrated {
    background-color: rgba(255, 255, 255, 0.25);
}

form {
    ion-item {
        border-radius: 10px;
        border: solid 1px rgb(220, 220, 220);
    }
    tag-input {
        border-radius: 10px;
    }
}

ion-card {
    margin: 20px;
}

.select-icon {
    display: none !important;
    opacity: 0;
}

.total-amount {
    text-align: center;
    font-size: 20px !important;
}

.total-amount[_ngcontent-sur-c2] {
    text-align: center;
    // font-weight: 700;
    font-size: 20px !important;
}

.flot-right {
    float: right;
}

.close-circle {
    padding-top: 15px;
}

.close {
    padding-top: 5px;
    font-size: 30px;
}

.close-circle {
    padding-top: 15px;
}

ion-card {
    margin: 0;
}

.img-resposive {
    height: 40px;
    width: 40px;
    margin-left: 130px;
    border-radius: 50%;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 230px;
    overflow: auto;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

input[type="file"] {
    display: none;
}

// image-upload {
//     padding: 30px 10px;
// }
ion-button.tt-none.md.button.button-block.button-solid.ion-activatable.ion-focusable.hydrated {
    --ion-color-base: #05ce78 !important;
    --ion-color-tint: #087445 !important;
    --background-color: #05ce78;
    -color: #fff;
}

.new-doller {
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
    height: 100%;
    position: absolute;
    border-right: 1px solid #ddd;
    top: 0;
    left: 0;
    right: 30px;
    display: inline-flex;
    align-items: center;
    pointer-events: none;
    z-index: 22;
}

.doller {
    color: #05ce78;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    // width: 4.2rem;   
    position: absolute;
    right: -21px;
}

.positon {
    // position: relative;
}

.continue {
    margin-top: 20px;
    float: right;
    clear: both;
}

img {
    border-radius: 10px;
}

// .leftmargin {
//     margin-left: 45px;
// }
// ion-label#ion-input-4-lbl {
//     margin-left: 45px;
// }