<app-navbar></app-navbar>

<ion-content color="light">
  <ion-row class="page-row">
    <ion-col size="12" size-md="4">
      <ion-item mode="md" lines="none" class="heading">
        <ion-label>Created by me</ion-label>
        <ion-button mode="md" size="large" fill="clear" slot="end" color="dark"><i class="gp-filter"></i></ion-button>
      </ion-item>

      <hr class="dassed-line">

      <ion-card class="grant" mode="md" *ngFor="let create of searchCreatedBy">
        <ion-card-content>
          <ion-item mode="md" lines="none">
            <ion-label>
              <h2>{{create.grantName}}</h2>
            </ion-label>
            <ion-label slot="end" text-right>
              <h3>Ξ {{create.totalFunding - create.totalPayed}} ETH</h3>
              <p>OUT OF Ξ {{create.targetFunding}} ETH</p>
            </ion-label>
          </ion-item>

          <ion-item mode="md" lines="none">
            <div class="users-container">
              <div class="users">
                <img *ngFor="let user of create.donors | slice:0:6" [src]="user?.picture || ''" alt="">
              </div>
            </div>
          </ion-item>
          <ion-item mode="md" lines="none">
            <ion-button class="details" mode="md" slot="start" (click)="viewGrant(create)">Quick View</ion-button><br>
            <ion-button class="details" mode="md" slot="end" (click)="grantDetails(create.contractId)">Details View
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="4">
      <ion-item mode="md" lines="none" class="heading">
        <ion-label>Funded by me</ion-label>
        <ion-button mode="md" size="large" fill="clear" slot="end" color="dark"><i class="gp-filter"></i></ion-button>
      </ion-item>

      <hr class="dassed-line">
      <ion-card class="grant" mode="md" *ngFor="let fund of searchFundedBy">
        <ion-card-content>
          <ion-item mode="md" lines="none">
            <ion-label>
              <h2>{{fund.grantName}}</h2>
              <p>{{fund.grantLink}}</p>
            </ion-label>
            <ion-label slot="end" text-right>
              <h3>Ξ {{fund.totalFunding- fund.totalPayed}} ETH</h3>
              <p>OUT OF Ξ {{fund.targetFunding}} ETH</p>
            </ion-label>
          </ion-item>

          <ion-item mode="md" lines="none">
            <div class="users-container">
              <div class="users">
                <img *ngFor="let user of fund.donors | slice:0:6" [src]="user?.picture || ''" alt="">
              </div>
            </div>
          </ion-item>

          <ion-item mode="md" lines="none">
            <ion-button class="details" mode="md" slot="start" (click)="viewGrant(fund)">Quick View</ion-button>
            <ion-button class="details" mode="md" slot="end" (click)="grantDetails(fund.contractId)">Details View</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <!-- <ion-card class="grant">
        <ion-card-header>

          <ion-card-title>All Modal Pages</ion-card-title>
          <ion-card-subtitle>This card is to access Modal page components only on click buttons</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

          <ion-button mode="md" color="secondary">
            View Grant
          </ion-button>
          <ion-button mode="md" color="secondary" (click)="viewGrantRequestRefund()">
            View Grant Request Refund
          </ion-button>

          <ion-button mode="md" color="secondary" (click)="viewGrantUnmarkAsComplete()">
            View Grant Unmark as Complete
          </ion-button>
          <ion-button mode="md" color="secondary" (click)="viewGrantNotifications()">
            View Grant Notifications
          </ion-button>
          <ion-button mode="md" color="secondary" (click)="amountsReceive()">
            Amounts each receipent will receive
          </ion-button>
        </ion-card-content>
      </ion-card> -->
    </ion-col>
    <ion-col size="12" size-md="4">
      <ion-item mode="md" lines="none" class="heading">
        <ion-label>Managed by me</ion-label>
        <ion-button mode="md" size="large" fill="clear" slot="end" color="dark"><i class="gp-filter"></i></ion-button>
      </ion-item>

      <hr class="dassed-line">
      <ion-card class="grant" mode="md" *ngFor="let manage of searchManagedBy">
        <ion-card-content>
          <ion-item mode="md" lines="none">
            <ion-label>
              <h2>{{manage.grantName}}</h2>
              <p>{{manage.grantLink}}</p>
            </ion-label>
            <ion-label slot="end" text-right>
              <h3>Ξ {{manage.totalFunding - manage.totalPayed}} ETH</h3>
              <p>OUT OF Ξ {{manage.targetFunding}} ETH</p>
            </ion-label>
          </ion-item>

          <ion-item mode="md" lines="none">
            <div class="users-container">
              <div class="users">
                <img *ngFor="let user of manage.donors | slice:0:6" [src]="user?.picture || ''" alt="">
              </div>
            </div>
          </ion-item>

          <ion-item mode="md" lines="none">
            <ion-button class="details" mode="md" slot="start" (click)="viewGrant(manage)">Quick View</ion-button>
            <ion-button class="details" mode="md" slot="end" (click)="grantDetails(manage.contractId)">Details View
            </ion-button>
          </ion-item>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>