<!-- <ion-app>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-triangle-path">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <ion-router-outlet>
  </ion-router-outlet>
</ion-app> -->

<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-header mode="md" no-border>
      <ion-toolbar mode="md" color="dark">
        <ion-title class="logo">
          <img src="assets/imgs/logo.svg" alt=""> &nbsp;&nbsp; Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" class="bg-dark">
      <div class="create-grant">
        <ion-button mode="md" color="success" [routerLink]="['/pages/create']" expand="block">Create New Grant</ion-button>
        <hr class="dassed-line">
      </div>

      <ion-list lines="none" mode="md">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" mode="md" routerLinkActive="active">
            <ion-icon slot="start" [class]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <app-navbar></app-navbar>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>