<ion-header mode="md" no-border>
    <ion-toolbar mode="md">
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-row class="page-row">
        <ion-col size="12">
            <ion-item mode="md" lines="none" class="heading">
                <ion-label slot="start">Latest Grants</ion-label>
            </ion-item>

            <hr class="dassed-line">

            <!-- <ion-row class="container-new">
                <ion-col size="4" class="padding" *ngFor="let grant of allGrant" (click)="grantDetails(grant.id)">
                    <div class="main-box">
                        <div class="box">
                            <img src="{{grant?.images}}" alt="" />
                        </div>
                        <div class="box-text">
                            <h1>{{grant?.name}}</h1>
                            <p>{{grant?.description}}</p>
                            <div class="pth-flex">
                                <p>Target Funding : {{currencyCovert(grant?.currency,grant?.targetFunding)}} ETH</p>
                                <p>Total Funding : {{currencyCovert(grant?.currency,grant?.availableBalance)}} ETH
                                </p>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row> -->

            <section>
                <div class="container-new">
                    <div class="box-flex">
                        <div class="main-box" *ngFor="let grant of allGrant" (click)="grantDetails(grant.id)">
                            <div class="box">
                                <img src="{{grant?.images}}" alt="" />
                            </div>
                            <div class="box-text">
                                <h1>{{grant?.name}}</h1>
                                <p>{{grant?.description}}</p>
                                <div class="pth-flex">
                                    <p>Target Funding : {{currencyCovert(grant?.currency,grant?.targetFunding)}} ETH</p>
                                    <p>Total Funding : {{currencyCovert(grant?.currency,grant?.availableBalance)}} ETH
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </ion-col>

    </ion-row>
</ion-content>