<app-navbar></app-navbar>
<ion-row class="margin-50">
    <ion-col size="6" class="border-right">
        <div class="">
            <img src="../../../assets/imgs/2.jpg" class="main-image" alt="">
            <h1>Otto's G32 – the first smart and modular gas grill.</h1>
            <p>The G32 revolutionizes gas grilling and perfectly adjusts to your grilling needs</p>
        </div>
    </ion-col>
    <ion-col size="6">
        <div class="d-flex">
            <img src="../../../assets/imgs/2.jpg" class="image-responsive margin-35" alt="">
            <div class="">
                <h2>Otto's G32 – the first smart and modular gas grill.</h2>
                <p>The G32 revolutionizes gas grilling and perfectly adjusts to your grilling needs</p>
            </div>
        </div>
        <div class="line "></div>
        <div class="d-flex">
            <img src="../../../assets/imgs/2.jpg" class="image-responsive margin-35" alt="">
            <div class="">
                <h2>Otto's G32 – the first smart and modular gas grill.</h2>
                <p>The G32 revolutionizes gas grilling and perfectly adjusts to your grilling needs</p>
            </div>
        </div>
        <div class="line "></div>
        <div class="d-flex">
            <img src="../../../assets/imgs/2.jpg" class="image-responsive margin-35" alt="">
            <div class="">
                <h2>Otto's G32 – the first smart and modular gas grill.</h2>
                <p>The G32 revolutionizes gas grilling and perfectly adjusts to your grilling needs</p>
            </div>
        </div>
    </ion-col>

</ion-row>