<ion-content style="text-align: center;">
  <div *ngIf="modelType == 'login'">
    <div *ngIf="loging" style="padding: 99px;">
      <img src="../../../assets/imgs/wallate.png" alt="">
      <h1>Log in to 3Box</h1>
      <p>Approve the message in your <br> Web3 wallet to continue</p>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <h1>Logging...</h1>
      <ion-button (click)="dismiss()" color="medium">Close</ion-button>
    </div>
    <div *ngIf="loginSuccess" style="padding: 99px;">
      <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
      <h1>Success</h1>
    </div>
    <div *ngIf="loginError" style="padding: 99px;">
      <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
      <h1>Error</h1>
      <p>There was an error logging in.</p>
      <ion-button (click)="dismiss()" color="medium">Close</ion-button>
    </div>
  </div>

  <div *ngIf="modelType == 'deployContract'">
    <div *ngIf="deploying" style="padding: 99px;">
      <img src="../../../assets/imgs/wallate.png" alt="">
      <h1>Creating Grant</h1>
      <p>Confirm the message in your <br> Web3 wallet to continue</p>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <h1>Creating...</h1>
      <ion-button (click)="dismiss()" color="medium">Close</ion-button>
    </div>
    <div *ngIf="deploySuccess" style="padding: 99px;">
      <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
      <h1>Success</h1>
      <p>Grant created successfully</p>
    </div>
    <div *ngIf="deployError" style="padding: 99px;">
      <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
      <h1>Error</h1>
      <p>There was an error creating grant.</p>
      <ion-button (click)="dismiss()" color="medium">Close</ion-button>
    </div>
  </div>

  <div *ngIf="modelType == 'cancelContract'">
    <div *ngIf="canceling" style="padding: 99px;">
      <img src="../../../assets/imgs/wallate.png" alt="">
      <h1>Canceling Grant</h1>
      <p>Confirm the message in your <br> Web3 wallet to continue</p>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <h1>Canceling...</h1>
      <ion-button (click)="dismiss()" color="medium">Close</ion-button>
    </div>
    <div *ngIf="canceledSuccess" style="padding: 99px;">
      <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
      <h1>Success</h1>
      <p>Request sent successfully</p>
    </div>
    <div *ngIf="canceledFail" style="padding: 99px;">
      <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
      <h1>Error</h1>
      <p>There was an error canceling grant</p>
      <ion-button (click)="dismiss()" color="medium">Close</ion-button>
    </div>
  </div>

  <div *ngIf="modelType == 'fundingContract'">
    <div *ngIf="funding" style="padding: 99px;">
      <img src="../../../assets/imgs/wallate.png" alt="">
      <h1>Funding Grant</h1>
      <p>Confirm the message in your <br> Web3 wallet to continue</p>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <h1>Funding...</h1>
      <ion-button (click)="dismiss()" color="medium">Close</ion-button>
    </div>
    <div *ngIf="fundingSuccess" style="padding: 99px;">
      <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
      <h1>Success</h1>
      <p>Funding request sent successfully</p>
    </div>
    <div *ngIf="fundingError" style="padding: 99px;">
      <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
      <h1>Error</h1>
      <p>There was an error funding grant</p>
      <ion-button (click)="dismiss()" color="medium">Close</ion-button>
    </div>
  </div>
</ion-content>