// ion-row {
//   &.row {
//     ion-col {
//       padding: 16px;
//       ion-item {
//         &.heading {
//           --padding-start: 0;
//           --inner-padding-end: 0;
//           --background: transparent;
//           ion-label {
//             font-weight: 400;
//             font-size: 16px;
//             color: #000;
//           }
//           ion-button {
//             font-size: 28px;
//           }
//         }
//       }
//       ion-row {
//         ion-col {
//           padding-top: 0px;
//           ion-card {
//             padding-top: 0px;
//             margin-top: 0px;
//             ion-card-header {
//               text-align: center;
//               padding: 0px;
//               margin-top: 0px;
//               h2 {
//                 margin-top: 10px;
//               }
//             }
//             .card-content {
//               padding: 0px 16px 0px 16px;
//               margin-bottom: 0px;
//               text-align: center;
//               ul {
//                 margin: 0px;
//                 list-style-type: none;
//               }
//             }
//             hr {
//               &.dassed-line {
//                 margin-bottom: 0px;
//               }
//             }
//             .users-container {
//               display: flex;
//               align-items: center;
//               .users {
//                 display: -webkit-box;
//                 display: -ms-flexbox;
//                 display: flex;
//                 -webkit-box-align: center;
//                 -ms-flex-align: center;
//                 align-items: center;
//                 -webkit-box-pack: center;
//                 -ms-flex-pack: center;
//                 justify-content: center;
//                 img {
//                   width: 100px;
//                   height: 100px;
//                   border-radius: 50%;
//                   border: 2px solid #fff;
//                   position: relative;
//                   & + img {
//                     margin-left: -12px;
//                   }
//                 }
//               }
//             }
//             .manager-details {
//               text-align: center;
//               h2 {
//                 font-weight: 600;
//                 font-size: 12px;
//                 line-height: 24px;
//                 color: #000;
//               }
//               img {
//                 width: 32px;
//                 height: 32px;
//                 border-radius: 50%;
//                 border: 2px solid #fff;
//                 position: relative;
//                 margin-left: auto;
//                 margin-right: auto;
//                 // margin-top   : $mSpace;
//                 // margin-bottom: $mSpace;
//               }
//             }
//           }
//         }
//       }
//     }
//     hr {
//       &.dassed-line {
//         margin-bottom: 32px;
//       }
//     }
//     ion-card {
//       margin: 0;
//       &.grant {
//         margin-top: 24px;
//         background: #f9fbfc;
//         -webkit-box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.1);
//         box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.1);
//         border-radius: 6px;
//         ion-item {
//           --background: transparent;
//           --padding-start: 0;
//           --inner-padding-end: 0;
//           & + ion-item {
//             margin-top: 8px;
//           }
//           ion-label {
//             margin: 0;
//             h2 {
//               font-weight: 600;
//               font-size: 16px;
//               color: #000;
//             }
//             h3 {
//               font-weight: 500;
//               font-size: 16px;
//               color: var(--ion-color-success);
//             }
//             p {
//               font-size: 10px;
//               color: #8887a0 !important;
//             }
//           }
//           [slot="start"],
//           .users-container {
//             .users {
//               display: -webkit-box;
//               display: -ms-flexbox;
//               display: flex;
//               -webkit-box-align: center;
//               -ms-flex-align: center;
//               align-items: center;
//               .approved-user {
//                 margin-left: 16px;
//                 font-size: 12px;
//                 color: #8887a0;
//                 a {
//                   color: var(--ion-color-primary);
//                 }
//               }
//               img {
//                 width: 32px;
//                 height: 32px;
//                 border-radius: 50%;
//                 border: 2px solid #fff;
//                 position: relative;
//                 & + img {
//                   margin-left: -12px;
//                 }
//               }
//             }
//           }
//           ion-button {
//             &.details {
//               --box-shadow: none;
//               margin: 0;
//               font-weight: 600;
//               font-size: 12px;
//               text-transform: none;
//               height: 32px;
//               --padding-start: 20px;
//               --padding-end: 20px;
//             }
//           }
//         }
//       }
//     }
//     @media (min-width: 786px) {
//       height: 100%;
//       ion-col {
//         padding-top: 32px;
//       }
//     }
//   }
// }

.innerHTML {
  .sc-ion-card-md-s img {
    width: unset !important;
  }
}

.padding-0 {
  padding: 0px;
}

.balance {
  text-align: center;
}

.margin-0 {
  margin: 0px;
}

.text-center {
  text-align: center;
  padding-bottom: 32px;
}

.green {
  color: #009e74;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

p {
  margin: 0;
}

.padding-20 {
  padding: 0 0 25px 0;
}

.line {
  height: 1px;
  border: 1px solid #009e74;
}

.padding-left-50 {
  padding-left: 50px;
}

.top-20 {
  padding-top: 20px;
}

ion-input {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding-left: 70px !important;
}

.new-doller {
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
  height: 100%;
  position: absolute;
  border-right: 1px solid #ddd;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  pointer-events: none;
  z-index: 22;
}

.doller {
  color: #adadaddd;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  white-space: nowrap;
  width: 4.2rem;
}

.positon {
  position: relative;
}

.continue {
  float: right;
  clear: both;
}

img {
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
