.amounts-receipent {
    padding-left: 16px;

    @media (min-width:768px) {
        padding: 32px;
        padding-top: 8px;
    }

    >ion-button {
        margin: 0;
        margin-left: -16px;
    }

    ion-list {
        background: transparent;
        padding: 0;

        ion-item {
            --background: transparent;
            --padding-start: 0;
            --inner-padding-end: 0;
            --border-style: dashed;
            --border-width: 0 0 1.2px 0;
            --inner-border-width: 0 0 0 0;
            --border-color: #DDDDDD;
            --min-height: 64px;
            ion-avatar{
                width: 28px;
                height: 28px;
            }
            ion-label {
                font-weight: 600;
                text-decoration: underline;
                font-size: 12px;
                color: var(--ion-color-primary);

            }

            .cost {
                font-weight: 600;
                font-size: 16px;
                color: var(--ion-color-success);

            }
        }
    }
}