<ion-header mode="md" no-border>
  <ion-toolbar mode="md">
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-row class="row" *ngIf="userRoll == 'visitor'">
    <ion-col size="12" class="container">
      <div class="row">
        <div class="text-center">
          <h1>grant name</h1>
          <p>grant description</p>
        </div>
        <ion-row>
          <ion-col size-md="7" size-sm="12">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/grants-platform.appspot.com/o/grant-content%2F1590246149579_roadie_3_tuner-ccbc4c5.jpg?alt=media"
              alt="">
          </ion-col>
          <ion-col size-md="5" size-sm="12" class="padding-left-50">
            <div class="line"></div>
            <div class="padding-20 top-20">
              <h1 class="green">Ξ {{currencyCovert(grantData?.currency,grantData?.availableBalance)}} ETH
              </h1>
              <p>pledged of Ξ {{currencyCovert(grantData?.currency,grantData?.targetFunding)}} ETH goal
              </p>
            </div>
            <div class="padding-20">
              <h1>{{grantFunds.length}}</h1>
              <p>donors</p>
            </div>
            <div class="padding-20">
              <h1>{{noOfDayToExpiredFunding}}</h1>
              <p>days to go expired funding</p>
            </div>
            <div *ngIf="grantData?.canFund">
              <div class="positon">
                <div class="new-doller">
                  <span class="doller">Ξ</span>
                </div>
                <ion-input placeholder="Amount" type="text" [(ngModel)]="fundingModel.amount" name="amount"
                  [OnlyNumber]="true" #amount="ngModel" required>
                </ion-input>
              </div>
              <ion-button [disabled]="amount.invalid" class="continue" (click)="grantFunding()">Fund
              </ion-button>
            </div>
            <div *ngIf="!grantData?.canFund" class="padding-20">
              <h2>Grant not open to funding</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>

    </ion-col>
  </ion-row>

  <ion-row class="row" *ngIf="userRoll == 'donor'">
    <ion-col size="12" class="container">
      <div class="row">
        <div class="text-center">
          <h1>grant name</h1>
          <p>grant description</p>
        </div>
        <ion-row>
          <ion-col size-md="7" size-sm="12">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/grants-platform.appspot.com/o/grant-content%2F1590246149579_roadie_3_tuner-ccbc4c5.jpg?alt=media"
              alt="">
          </ion-col>
          <ion-col size-md="5" size-sm="12" class="padding-left-50">
            <div class="line"></div>
            <div class="padding-20 top-20">
              <h1 class="green">Ξ {{currencyCovert(grantData?.currency,grantData?.availableBalance)}} ETH
              </h1>
              <p>pledged of Ξ {{currencyCovert(grantData?.currency,grantData?.targetFunding)}} ETH goal
              </p>
            </div>
            <div class="padding-20">
              <h1>Ξ {{currencyCovert(grantData?.currency,userDonation)}} ETH</h1>
              <p>Your Donation</p>
            </div>
            <div class="padding-20">
              <h1>{{grantFunds.length}}</h1>
              <p>donors</p>
            </div>
            <div class="padding-20">
              <h1>{{noOfDayToExpiredFunding}}</h1>
              <p>days to go expired funding</p>
            </div>
            <div *ngIf="grantData?.canFund">
              <div class="positon">
                <div class="new-doller">
                  <span class="doller">Ξ</span>
                </div>
                <ion-input placeholder="Amount" type="text" [(ngModel)]="fundingModel.amount" name="amount"
                  [OnlyNumber]="true" #amount="ngModel" required>
                </ion-input>
              </div>
              <ion-button [disabled]="amount.invalid" class="continue" (click)="grantFunding()">Fund
              </ion-button>
            </div>
            <div *ngIf="!grantData?.canFund" class="padding-20">
              <h2>Grant not open to funding</h2>
            </div>
            <ion-button *ngIf="canCancelByGranteeAndDonor && !grantData?.grantCancelled" class=""
              (click)="cancelGrant()">Cancel Grant
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

    </ion-col>
  </ion-row>


  <ion-row class="row" *ngIf="userRoll == 'manager'">
    <ion-col size="12" class="container">
      <div class="row">
        <div class="text-center">
          <h1>grant name</h1>
          <p>grant description</p>
        </div>
        <ion-row>
          <ion-col size-md="7" size-sm="12">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/grants-platform.appspot.com/o/grant-content%2F1590246149579_roadie_3_tuner-ccbc4c5.jpg?alt=media"
              alt="">
          </ion-col>
          <ion-col size-md="5" size-sm="12" class="padding-left-50">
            <div class="line"></div>
            <div class="padding-20 top-20">
              <h1 class="green">Ξ {{currencyCovert(grantData?.currency,grantData?.availableBalance)}} ETH
              </h1>
              <p>pledged of Ξ {{currencyCovert(grantData?.currency,grantData?.targetFunding)}} ETH goal
              </p>
            </div>
            <div class="padding-20">
              <h1>{{grantFunds.length}}</h1>
              <p>donors</p>
            </div>
            <div class="padding-20">
              <h1>{{noOfDayToExpiredFunding}}</h1>
              <p>days to go expired funding</p>
            </div>
            <div style="display: flex;align-items: center;margin-top: 0px;">
              <ion-button *ngIf="!grantData?.canFund && !grantData?.grantCancelled" class="" (click)="payoutModel()">
                Release Payout</ion-button>
              <ion-button *ngIf="!grantData?.grantCancelled" class="" (click)="cancelGrant()">Cancel Grant
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>

    </ion-col>
  </ion-row>


  <ion-row class="row" *ngIf="userRoll == 'grantee'">
    <ion-col size="12" class="container">
      <div class="row">
        <div class="text-center">
          <h1>grant name</h1>
          <p>grant description</p>
        </div>
        <ion-row>
          <ion-col size-md="7" size-sm="12">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/grants-platform.appspot.com/o/grant-content%2F1590246149579_roadie_3_tuner-ccbc4c5.jpg?alt=media"
              alt="">
          </ion-col>
          <ion-col size-md="5" size-sm="12" class="padding-left-50">
            <div class="line"></div>
            <div class="padding-20 top-20">
              <h1 class="green">Ξ {{currencyCovert(grantData?.currency,grantData?.availableBalance)}} ETH
              </h1>
              <p>pledged of Ξ {{currencyCovert(grantData?.currency,grantData?.targetFunding)}} ETH goal
              </p>
            </div>
            <div class="padding-20">
              <h1>{{grantFunds.length}}</h1>
              <p>donors</p>
            </div>
            <div class="padding-20">
              <h1>{{noOfDayToExpiredFunding}}</h1>
              <p>days to go expired funding</p>
            </div>
            <div class="padding-20">
              <h3> <b> Ξ {{currencyCovert(grantData?.currency,userRemainingAlloc)}} ETH</b>&nbsp;
                <span style="font-size: 16px;">Remaining</span></h3>
              <p>Total Allocation Ξ {{currencyCovert(grantData?.currency,userAlloc)}} ETH</p>
            </div>
            <div style="display: flex;align-items: center;margin-top: 0px;">
              <ion-button *ngIf="canCancelByGranteeAndDonor && !grantData?.grantCancelled" class=""
                (click)="cancelGrant()">Cancel Grant
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>

    </ion-col>
  </ion-row>
</ion-content>