<ion-header mode="md" no-border>
  <ion-toolbar mode="md">
    <ion-title>Crop Image</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="medium">
        <ion-icon slot="icon-only" class="gp-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="page-row">

    <ion-col size="12">
      <ion-card class="grant" mode="md" style="margin:unset">
        <div class="image-crop">
          <image-cropper [imageChangedEvent]="imageData" [maintainAspectRatio]="true" [roundCropper]="false"
            [aspectRatio]="4 / 4" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
            [cropperMinWidth]="100" [cropperMinHeight]="200">
          </image-cropper>

          <ion-item>
            <ion-button slot="end" (click)="upload()">Upload</ion-button>
            <ion-button slot="end" (click)="dismiss()">Cancel</ion-button>
          </ion-item>
        </div>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>