<ion-header mode="md" no-border>
  <ion-toolbar mode="md">
    <ion-title>Payout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="medium">
        <ion-icon slot="icon-only" class="gp-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="">
      <ion-list lines="none" class="forms" mode="md">
        <ion-item>
          <ion-label position="floating">Grantee Address</ion-label>
          <ion-input name="granteeAddress" formControlName="granteeAddress" type="text" required>
          </ion-input>
        </ion-item>

        <div class="error">
          <label *ngIf="f.submitted && form.granteeAddress.errors?.required">
            Please Add Grantee Address
          </label>
          <label *ngIf="!form.granteeAddress.errors?.required && form.granteeAddress.errors?.addressValid">
            Grantee Address Not Valid
          </label>
        </div>

        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <ion-input name="amount" [OnlyNumber]="true" formControlName="amount" type="text" required>
          </ion-input>
        </ion-item>

        <div *ngIf="f.submitted && form.amount.invalid">
          <span class="error">
            Please Enter Amount
          </span>
        </div>
      </ion-list>
    </div>
    <div class="submit-button">
      <ion-button mode="md" class="tt-none" [disabled]="processing" expand="block" type="ngSubmit">
        Submit
      </ion-button>
    </div>
  </form>
</ion-content>