<ion-header mode="md" no-border>
    <ion-toolbar mode="md">
        <h1 class="color-black">Payout</h1>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()" color="medium">
                <ion-icon slot="icon-only" class="gp-close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="myForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
        <div class="">
            <ion-list lines="none" class="forms" mode="md">
                <div class="" style="margin: 25px;">
                    <ion-item>
                        <ion-label position="floating">Grantee</ion-label>
                        <ion-select class="form-control" okText="Okay" cancelText="Dismiss" name="granteeAddress"
                            formControlName="granteeAddress" required>
                            <ion-select-option *ngFor="let grantee of grantees" [value]="grantee">
                                {{ grantee}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div class="error">
                        <label *ngIf="f.submitted && form.granteeAddress.invalid">
                            Please Select Grantee Address
                        </label>
                    </div>
                </div>
                <div class="" style="margin: 0 25px 25px 25px;">
                    <ion-item>
                        <ion-label position="floating">Amount</ion-label>
                        <ion-input name="amount" [OnlyNumber]="true" formControlName="amount" type="text" required>
                        </ion-input>
                    </ion-item>

                    <div class="error">
                        <!-- <span *ngIf=" form.amount.invalid">
                            Please Enter Amount
                        </span> -->
                        <span *ngIf="f.submitted && form.amount.errors?.required">
                            Please Enter Valid Amount
                        </span>
                        <span *ngIf="form.amount.errors?.max && !form.amount.errors?.required">
                            Max Remaining Allocation is {{remainingAllocation}} For This Grantee
                        </span>
                    </div>
                </div>
            </ion-list>
        </div>
        <div class="submit-button">
            <ion-button mode="md" class="tt-none" [disabled]="processing" expand="block" type="ngSubmit">
                Submit
            </ion-button>
        </div>
    </form>
</ion-content>