<ion-split-pane>
    <ion-menu type="overlay">
        <ion-header no-border>
            <ion-toolbar color="dark">
                <ion-title class="logo">
                    <img src="assets/imgs/logo.svg" alt="">
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content padding class="bg-dark">
            <!-- <div class="create-grant">
                <ion-button mode="md" color="success" (click)="createNewGrant()" expand="block">Create New Grant
                </ion-button>
                <hr class="dassed-line">
            </div> -->

            <ion-list lines="none" mode="md">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                    <ion-item mode="md" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                        [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-icon slot="start" [class]="p.icon"></ion-icon>
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>