<ion-header mode="md" no-border>
    <ion-toolbar mode="md">
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-row class="row">
        <ion-col size="12">
            <div class="row">
                <div class="text-center">
                    <h1>{{grant?.name}}</h1>
                    <p>{{grant?.description}}</p>
                </div>
                <ion-row>
                    <ion-col size-md="7" size-sm="12">
                        <img src="{{grant?.images[0]}}" alt="">
                    </ion-col>
                    <ion-col size-md="5" size-sm="12" class="padding-left-50">
                        <div class="line"></div>
                        <div class="padding-20 top-20">
                            <h1 class="green">Ξ {{balance}} {{grant?.currency}}</h1>
                            <p>pledged of Ξ {{grant?.targetFunding}} {{grant?.currency}} goal</p>
                        </div>
                        <div *ngIf="userType == userEnum.DONOR" class="padding-20">
                            <h1>Ξ {{userDonation}} {{grant?.currency}}</h1>
                            <p>Your Donation</p>
                        </div>
                        <div class="padding-20">
                            <h1>{{noOfDonors}}</h1>
                            <p>donors</p>
                        </div>
                        <div class="padding-20">
                            <h1>{{noOfDayToExpiredFunding}}</h1>
                            <p>days to go expired funding</p>
                        </div>
                        <div *ngIf="this.canFund && (userType == userEnum.DONOR || userType == userEnum.VISITOR)">
                            <div class="positon">
                                <div class="new-doller">
                                    <span class="doller">Ξ</span>
                                </div>
                                <ion-input placeholder="Amount" type="text" [(ngModel)]="grantFund.amount" name="amount"
                                    [OnlyNumber]="true" #amount="ngModel" required>
                                </ion-input>
                            </div>
                            <ion-button [disabled]="amount.invalid" class="continue" (click)="ConfirmFundGrant()">Fund
                            </ion-button>
                        </div>
                        <ion-button *ngIf="canCancel && userType != userEnum.VISITOR" class="continue"
                            (click)="ConfirmCancleGrant()">Cancel Grant
                        </ion-button>
                        <div *ngIf="!this.canFund && (userType == userEnum.DONOR || userType == userEnum.VISITOR)"
                            class="padding-20">
                            <h2>Grant not open to funding</h2>
                        </div>
                        <div *ngIf="!this.canFundByContract && userType == userEnum.MANAGER">
                            <ion-button class="" (click)="payoutModel()">Payout
                            </ion-button>
                        </div>
                        <div *ngIf="userType == userEnum.GRANTEE" class="padding-20">
                            <h3> <b> Ξ {{remainingAlloc}} {{grant?.currency}}</b> Remaining</h3>
                            <p>Total Allocation Ξ {{myAllocationAmount}} {{grant?.currency}}</p>
                        </div>
                    </ion-col>

                </ion-row>

            </div>

            <ion-row *ngIf="grant?.content">
                <ion-col size="12" size-md="12">
                    <div class="grant">
                        <div class="innerHTML">
                            <span [innerHTML]="grant?.content"></span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>