input[type="file"] {
  display: none;
}

.image {
  object-fit: fill;
  width: 140px;
  border-radius: 50%;
}
.file-input-container {
  padding: 10px;
  text-align: center;
}
h2{
    padding-bottom: 10px;
}
.ion-item{
    .item-inner{
        border: none !important;
    }
}