<app-navbar></app-navbar>

<ion-content color="light">
    <ion-row class="page-row">

        <ion-col size="12">
            <ion-item mode="md" lines="none" class="heading">
                <ion-label>User Profile</ion-label>
            </ion-item>

            <hr class="dassed-line">
            <ion-card class="grant" mode="md">
                <ion-card-content>
                    <ion-row>
                        <ion-col size="3">
                            <ion-row>
                                <div class="users-container">
                                    <div class="users">
                                        <img class="image" src="{{userData?.picture}}" alt="">
                                    </div>
                                    <div class="file-input-container">
                                        <label color="primary">
                                            <input type="file" accept="image/*" [(ngModel)]="profile"
                                                (change)="fileChangeEvent($event)" />
                                            {{ isPicture ? 'Change profile picture' : 'Upload profile picture' }}
                                        </label>
                                    </div>
                                </div>
                            </ion-row>
                        </ion-col>
                        <ion-col size="6">
                            <ion-row>
                                <div class="form-details">
                                    <ion-item>
                                        <ion-label class="grants-details">
                                            <h2>Name : {{userProfile?.name}} {{ userProfile?.emoji}}</h2>
                                            <!-- <h2>Full Name : {{ userData?.firstName ? userData?.firstName : '' }}
                                                {{userData?.lastName ? userData?.lastName : ''}}
                                            </h2> -->
                                            <h2>Email : {{userData?.email ? userData?.email : ''}}</h2>
                                            <!-- <h2>Create Grant: 010</h2>
                                            <h2>Manage Grant:123</h2>
                                            <h2>Funded by Me :12</h2> -->
                                            <h2>Balance : {{balance}}</h2>
                                            <h2>Account : {{account}}</h2>
                                            <!-- <threebox-address data-address='0x6D48912C6c768e0CAd669b0154DD85F156284A21' data-display='full'>
                                            </threebox-address> -->
                                        </ion-label>
                                    </ion-item>
                                    <!-- <ion-button color="primary" (click)="resetPassword(userData._id)">Change PassWord
                                    </ion-button>
                                    <ion-button color="primary" (click)="changePublicKey()">Change Public Key
                                    </ion-button> -->
                                </div>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>

        </ion-col>

    </ion-row>
</ion-content>