<!-- <ion-header mode="md" no-border>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo">
      <img src="assets/imgs/logo.svg" alt="">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button mode="md" fill="solid" color="success" class="gbtn">sign in</ion-button>
      <ion-button mode="md" fill="solid" color="success" class="gbtn">Register</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content padding color="light">


  <div class="auth-content">
    <ion-card mode="ios">
      <ion-card-content>
        <ion-list lines="none">
          <ion-button expand="block" mode="md" class="tt-none" [disabled]="processing" (click)="confirmUser()">Sign In
          </ion-button>
        </ion-list>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>