<ion-header no-border mode="md" class="modal-header-funds">
  <ion-toolbar mode="md">
    <div class="detailed-header-title">
      <h2>Untitled Grant</h2>
      <p>https://grantlink.com</p>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="medium">
        <ion-icon slot="icon-only" class="gp-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar no-padding mode="md" class="grant-recepients">
    <h3>Grant Recepients</h3>
    <ion-item lines="none">
      <div class="users-container">
        <div class="users">
          <img src="assets/imgs/avatar-02.png" alt="">
          <img src="assets/imgs/avatar-03.png" alt="">
          <img src="assets/imgs/avatar-04.png" alt="">
        </div> <a href="">View All</a>
      </div>

      <div slot="end" class="cost-details">
        <div class="cost">
          <h3>$ 1,500</h3>
          <p>OUT OF $5,000</p>
        </div>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="notification-container">
    <div class="content">
      <div class="user-details">
        <img src="assets/imgs/avatar-02.png" alt="">
        <h4>John Smith</h4>
      </div>
      <p class="message">Requested a payment for the completion of Milestone 1</p>
      <h2 class="amount">$120.000</h2>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" class="tt-none" mode="md" color="darkpurpule">
            Deny
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" class="tt-none" mode="md" color="primary">
              Approve
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>